<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Список владельцев домашних животных</title>
</head>
<body>
    <h2 th:text="'Список владельцев'">Список владельцев</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Id</th>
            <th style="width: 150px;">Имя</th>
            <th style="width: 150px;">Фамилия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.id}">1</td>
            <td th:text="${owner.firstName}">Йося</td>
            <td th:text="${owner.lastName}">Шекель</td>
        </tr>
        </tbody>
    </table>
</body>
</html>